@model IEnumerable<CryptoInv.Models.Investments.InvestmentViewModel>

@if (Model.Count() == 0)
{
    <div class="row">
        <div class="col-md-12">
            <h5>No ended Investments to show.</h5>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="head">
                    <i class="cc @item.Coin.Id"></i>
                    <h3>@item.Coin.Name<br><small>@item.Amount @item.Coin.Id at £@item.PricePerCoin per</small></h3>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="label label-primary">£@item.Cost</span>
                            <h5>Start</h5>
                        </div>
                        <div class="col-md-6 right">
                            @if (item.CostEnd < item.Cost)
                            {
                                <span class="label label-danger">£@item.CostEnd</span>
                            }
                            else
                            {
                                <span class="label label-success">£@item.CostEnd</span>
                            }
                            <h5>End</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}