@model CryptoInv.Models.Investments.InvestmentCompleteViewModel

@{
    ViewData["Title"] = "Complete";
}

<div class="heading single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Mark Investment as Complete [@Model.Amount @Model.CoinId for &pound;@Model.Cost]</h3>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form asp-action="Complete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CoinId" />
                    <input type="hidden" asp-for="Amount" />
                    <input type="hidden" asp-for="Cost" />
                    <div class="form-group">
                        <label asp-for="PricePerCoinEnd" class="control-label"></label>
                        <input asp-for="PricePerCoinEnd" class="form-control" />
                        <span asp-validation-for="PricePerCoinEnd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InvestmentDateEnd" class="control-label"></label>
                        <input asp-for="InvestmentDateEnd" class="form-control" />
                        <span asp-validation-for="InvestmentDateEnd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-2">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
