@model CryptoInv.Models.Investments.InvestmentCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="heading single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Add an Investment</h3>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CoinId" class="control-label"></label>
                        <select asp-for="CoinId" class="form-control" asp-items="ViewBag.CoinId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PricePerCoin" class="control-label"></label>
                        <input asp-for="PricePerCoin" class="form-control" />
                        <span asp-validation-for="PricePerCoin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InvestmentDate" class="control-label"></label>
                        <input asp-for="InvestmentDate" class="form-control" />
                        <span asp-validation-for="InvestmentDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default btn-block" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

