@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Track &amp; show off your <span>smart</span> crypto investments!</h1>
        <p><a class="btn btn-default">Get Started</a></p>
    </div>
</div>
<div class="content" style="padding-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 feature">
                <i class="fas fa-heart"></i>
                <h3>Free</h3>
                <p>We are 100% free.<br>No ads, no payments, all free.</p>
            </div>
            <div class="col-md-4 feature">
                <i class="fas fa-chart-bar"></i>
                <h3>Accurate</h3>
                <p>Our data is accurate.<br>Sync your portfolio to the market.</p>
            </div>
            <div class="col-md-4 feature">
                <i class="fas fa-users"></i>
                <h3>Social</h3>
                <p>Show off your investments.<br>Share your profile with your friends.</p>
            </div>
        </div>
    </div>
</div>
<div class="content grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <h2>Supported Coins</h2>
                <p>We support the some of the top coins on the market.<br>After beta, the top 100 coins will be added!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 coin">
                <i class="cc BTC"></i>
                <h4>Bitcoin</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc ETH"></i>
                <h4>Ethereum</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc BCH"></i>
                <h4>Bitcoin Cash</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc LTC"></i>
                <h4>Litecoin</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc XMR"></i>
                <h4>Monero</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc XLM"></i>
                <h4>Stellar</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 coin">
                <i class="cc XRP"></i>
                <h4>XRP</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc ZEC"></i>
                <h4>Zcash</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc WAVES"></i>
                <h4>Waves</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc DOGE"></i>
                <h4>Dogecoin</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc DASH"></i>
                <h4>Dash</h4>
            </div>
            <div class="col-md-2 coin">
                <i class="cc TRX"></i>
                <h4>TRON</h4>
            </div>
        </div>
    </div>
</div>